body, h1, h2, p, ul, li, form {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin-right: 10px;
}

header nav a {
    text-decoration: none;
    color: #fff;
}

h1 {
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
}

article {
    padding: 20px;
}

article h3 {
    color: #333;
    margin-bottom: 10px;
}

article ul {
    list-style: none;
    margin-top: 10px;
}

article li {
    margin-bottom: 5px;
}

article a {
    text-decoration: none;
    color: #0066cc;
}

@keyframes dotAnimation {
    0%, 20% {
        content: ".";
        font-weight: normal;
        font-size: 1em;
    }
    40%, 60% {
        content: "..";
        font-weight: bold;
        font-size: 1em;
    }
    80%, 100% {
        content: "...";
        font-weight: bold;
        font-size: 1em;
    }
}

#inSviluppo::after {
    content: "...";
    animation: dotAnimation 1.5s infinite;
    display: inline-block;
    font-size: large;
}

#home {
    width: 20px;
    height: 20px;
}

/* Animazione di Hover per la nav bar */
/* Stile per gli elementi della lista nell'intestazione con effetto al passaggio del mouse */
header ul li {
    display: inline;
    margin-right: 10px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease; /* Aggiunta di una transizione */
    border-radius: 5px; /* Arrotonda i bordi */
}

header ul li:hover {
    background-color: #ffa500; /* Colore arancione al passaggio del mouse */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombra leggera al passaggio del mouse */
    transform-origin: center; /* Assicura che l'ingrandimento sia centrato */
}

/* Stile per i link nell'intestazione con effetto al passaggio del mouse */
header a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease; /* Aggiunta di una transizione per il cambio colore del testo */
}

header a:hover {
    color: #333; /* Cambio colore del testo al passaggio del mouse */
}